@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewData["Title"] = "Добавление товара";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/AddProductStyle.css" />
<div class="add-product_main">
    <form asp-action="AddProduct" asp-controller="Home" method="post" class="add-product_main_cell">
        <div class="add-product_main_cell_name">
            <h1>Добавление товара</h1>
        </div>

        <div class="add-product_main_cell_title">
            <input class="add-product_main_cell_title_input" type="text" id="title" name="title" placeholder="Наименование" autocomplete="off" required min="1"/>
        </div>

        <div class="add-product_main_cell_desc">
            <input class="add-product_main_cell_desc_input" type="text" id="description" name="description" placeholder="Описание товара" required min="1" />
        </div>

        <div class="add-product_main_cell_weight">
            <input class="add-product_main_cell_weight_input" type="text" id="weight" name="weight" pattern="[0-9]+" title="Введите только цифры" placeholder="Вес товара (г.)" required min="1" maxlength="5"/>
        </div>

        <div class="add-product_main_cell_cost">
            <input class="add-product_main_cell_cost_input" type="text" id="cost" name="cost" pattern="[0-9]+" title="Введите только цифры" placeholder="цена товара (₽)" required min="1" maxlength="5" />
        </div>

        <div class="add-product_main_cell_acidity">
            <select class="select-css" style="grid-row:1/span 3; margin-bottom:15px;" name="acidity" required>
                <option></option>
                <option>Низкая</option>
                <option>Средняя</option>
                <option>Высокая</option>
            </select>
        </div>

        <div class="add-product_main_cell_density">
            <select class="select-css" style="grid-row:1/span 3; margin-bottom:15px;" name="density" required>
                <option></option>
                <option>Низкая</option>
                <option>Средняя</option>
                <option>Высокая</option>
            </select>
        </div>

        <div class="add-product_main_cell_growth">
            <select class="select-css" style="grid-column:1/span 2; grid-row:1/span 5; margin-bottom:15px;" name="growth" required>
                <option></option>
                <option>Боливия</option>
                <option>Бразилия</option>
                <option>Гватемала</option>
                <option>Кения</option>
                <option>Китай</option>
                <option>Коста-Рика</option>
                <option>Перу</option>
                <option>Руанда</option>
                <option>Эфиопия</option>
            </select>
        </div>

        <div class="add-product_main_cell_type">
            <select class="select-css" style="grid-row:1/span 3; margin-bottom:15px;" name="type" required>
                <option></option>
                <option>Milk</option>
                <option>Espresso</option>
                <option>Filter</option>
            </select>
        </div>

        <button type="submit" class="add-product_main_cell_btn">Добавить</button>
    </form>
</div>
