@{
    ViewData["Title"] = "Согласие на обработку";
}
<div style="background-color:#653e34">
    <h1>Согласие на обработку персональных данных</h1>
    <p>Вы соглашаетесь на обработку следующих персональных данных:</p>
    <ul>
        <li>Имя</li>
        <li>Номер телефона</li>
        <li>Адрес доставки</li>
    </ul>
</div>
