@{
    ViewData["Title"] = "Согласие на обработку";
}
<div style="background-color:#653e34">
    <h1 style="color:white">Согласие на обработку персональных данных</h1>
    <p style="color:white">Вы соглашаетесь на обработку следующих персональных данных:</p>
    <ul>
        <li style="color:white">Имя</li>
        <li style="color:white">Номер телефона</li>
        <li style="color:white">Адрес доставки</li>
    </ul>
</div>
