@{
    ViewData["Title"] = "Личный кабинет";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/cabinetStyle.css" />

<div class="Cabinet_body">
    <form asp-controller="Home" asp-action="Logout" method="post">
        <button type="submit">Выход</button>
    </form>
</div>

<div class="cabinet_main">
    <div class="cabinet_main_cell">
        <div class="cabinet_main_cell_name">
            <h1>Личный кабинет</h1>
        </div>
        <div class="сabinet_main_cell_content">
            <div class="сabinet_main_cell_content_buttons">
                <div class="сabinet_main_cell_content_button_orders">
                </div>
                <div class="сabinet_main_cell_content_button_update">
                </div>
                <div class="сabinet_main_cell_content_button_exit">

                </div>
            </div>
            <div class="сabinet_main_cell_content_info">
            </div>
        </div>
    </div>
    

</div>