@{
    ViewData["Title"] = "Личный кабинет";
}
@model IQueryable<User>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/cabinetStyle.css" />
   
<div class="сabinet_main">
    <div class="сabinet_main_cell">
        <div class="сabinet_main_cell_name">
            <h1>Личный кабинет</h1>
        </div>
        <div class="сabinet_main_cell_content">
            <div class="сabinet_main_cell_content_buttons">
                <div class="сabinet_main_cell_content_button_orders">
                    <form asp-controller="Home" asp-action="OrderList" method="post">
                        <button class="btn" type="submit">Список заказов</button>
                    </form>
                </div>
                <div class="сabinet_main_cell_content_button_update">
                    <form asp-controller="Home" asp-action="UpdateUser" method="get">
                        <button class="btn" type="submit">Редактирование данных</button>
                    </form>
                </div>
                <div class="сabinet_main_cell_content_button_exit">
                    <form asp-controller="Home" asp-action="Logout" method="post">
                        <button class="btn" type="submit">Выход</button>
                    </form>
                </div>
            </div>
            <div class="сabinet_main_cell_content_info">
                @foreach (var user in Model)
                {
                    <p>ФИО: @user.FIO</p>
                    <p>
                        @($"8({user.PhoneNumber.Substring(1, 3)})-{user.PhoneNumber.Substring(4, 3)}-{user.PhoneNumber.Substring(7, 2)}-{user.PhoneNumber.Substring(9, 2)}")
                    </p>
                    <p>Логин: @user.Login</p>
                    <p>Адрес: @user.Address</p>
                }
            </div>
        </div>
    </div>
    

</div>