@{
    ViewData["Title"] = "Создание пользователей";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/CreateTestUserStyle.css" />
<div class="create-user_main">
    <form asp-action="CreateTestUser" asp-controller="Home" method="post" class="create-user_main_cell">
        <div class="create-user_main_cell_name">
            <h1>Добавление пользователя</h1>
        </div>

        <div class="create-user_main_cell_firstn">
            <input class="create-user_main_cell_firstn_input" type="text" id="firstn" name="firstn" placeholder="Имя" pattern="[A-Za-zА-Яа-яЁё]+" title="Введите только буквы" autocomplete="off" required min="1" />
        </div>

        <div class="create-user_main_cell_secondn">
            <input class="create-user_main_cell_secondn_input" type="text" id="secondn" name="secondn" placeholder="Фамилия" pattern="[A-Za-zА-Яа-яЁё]+" title="Введите только буквы" autocomplete="off" required min="1" />
        </div>

        <div class="create-user_main_cell_patronymic">
            <input class="create-user_main_cell_patronymic_input" type="text" id="patronymic" name="patronymic" placeholder="Отчество" pattern="[A-Za-zА-Яа-яЁё]+" title="Введите только буквы" autocomplete="off" required min="1" />
        </div>

        <div class="create-user_main_cell_log">
            <input class="create-user_main_cell_log_input" type="text" id="log" name="log" placeholder="Логин" autocomplete="off" pattern="[^\s]+" required min="1" />
        </div>

        <div class="create-user_main_cell_pass">
            <input class="create-user_main_cell_pass_input" type="password" id="pass" name="pass" placeholder="Пароль" autocomplete="off" pattern="[^\s]+" required min="1" />
        </div>

        <div class="create-user_main_cell_number">
            <input class="create-user_main_cell_number_input" type="text" id="number" name="number" placeholder="Номер телефона" autocomplete="off" pattern="[0-9]+"  title="Пример номера: 8999999999" required minlength="11" maxlength="11" />
        </div>

        @* <div class="create-user_main_cell_city">
            <input class="create-user_main_cell_city_input" type="text" id="city" name="city" placeholder="Город" required min="1" />
        </div>

        <div class="create-user_main_cell_street">
            <input class="create-user_main_cell_street_input" type="text" id="street" name="street" placeholder="Улица" required min="1" />
        </div>

        <div class="create-user_main_cell_home">
            <input class="create-user_main_cell_home_input" type="text" id="home" name="home" pattern="[0-9]+" maxlength="4" title="Введите только цифры" placeholder="Номер дома" required min="1" />
        </div>

        <div class="create-user_main_cell_flat">
            <input class="create-user_main_cell_flat_input" type="text" id="flat" name="flat" pattern="[0-9]+" maxlength="4" title="Введите только цифры" placeholder="Номер квартиры" required min="1" />
        </div> *@
        <button type="submit" class="create-user_main_cell_btn">Добавить</button>
    </form>
</div>
