@{
    ViewData["Title"] = "Авторизация";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/LoginStyle.css" />
<div class="autorize_main">
    <form asp-action="Login" asp-controller="Home" method="post" class="autorize_main_cell">
        <div class="autorize_main_cell_name">
            <h1>Авторизация</h1>
        </div>

        <div class="autorize_main_cell_login">
            <input class="autorize_main_cell_login_input" type="text" id="login" name="login" placeholder="Логин" autocomplete="off" required min="1" />
        </div>

        <div class="autorize_main_cell_pass">
            <input class="autorize_main_cell_pass_input" type="password" id="password" name="password" placeholder="Пароль" required min="1" />
        </div>

        <button type="submit" class="autorize_main_cell_btn">Вход</button>
        
        <button type="submit" formaction="/Home/Registration" class="autorize_main_cell_btn_reg">Регистрация</button>
    </form>
</div>