@{
    ViewData["Title"] = "Заказы";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/OrderStyle.css" />
<div class="order_main">
    <div class="order_main_content">
        <div class="order_main_content_name">
            <h1>Заказ</h1>
        </div>
        <div class="order_main_content_values">
            <div class="order_main_content_values_check ">
                <div class="values_check_names">
                    <div class="check_names_count">
                        <h2>Количество товаров в заказе:</h2>
                    </div>
                    <div class="check_names_sum">
                        <h2>Суммарная стоимость заказа:</h2>
                    </div>
                    <div class="check_names_deliv">
                        <h2>Стоимость доставки:</h2>
                    </div>
                    <div class="check_names_paid">
                        <h2>Итоговая цена:</h2>
                    </div>
                </div>
                <div class="values_check_values">
                    <div class="check_values_count">
                    </div>
                    <div class="check_values_sum">
                    </div>
                    <div class="check_values_deliv">
                    </div>
                    <div class="check_values_paid">
                    </div>
                    <div class="check_values_btn">
                    </div>
                </div>
                <div class="values_check_empty">
                    <div style="grid-row:1">

                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>