@{
    ViewData["Title"] = "Регистрация";
}
<script src="https://unpkg.com/imask"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/CreateTestUserStyle.css" />
<div class="create-user_main">
    <form asp-action="Registration" asp-controller="Home" method="post" class="create-user_main_cell">
        <div class="create-user_main_cell_name">
            <h1>Регистрация</h1>
        </div>

        <div class="create-user_main_cell_firstn">
            <input class="create-user_main_cell_firstn_input" type="text" id="firstn" name="firstn" placeholder="Имя" pattern="[A-Za-zА-Яа-яЁё]+" title="Введите только буквы" autocomplete="off" required min="1" />
        </div>

        <div class="create-user_main_cell_secondn">
            <input class="create-user_main_cell_secondn_input" type="text" id="secondn" name="secondn" placeholder="Фамилия" pattern="[A-Za-zА-Яа-яЁё]+" title="Введите только буквы" autocomplete="off" required min="1" />
        </div>

        <div class="create-user_main_cell_patronymic">
            <input class="create-user_main_cell_patronymic_input" type="text" id="patronymic" name="patronymic" placeholder="Отчество" pattern="[A-Za-zА-Яа-яЁё]+" title="Введите только буквы" autocomplete="off" required min="1" />
        </div>

        <div class="create-user_main_cell_log">
            <input class="create-user_main_cell_log_input" type="text" id="log" name="log" placeholder="Логин" autocomplete="off" required min="1" />
        </div>

        <div class="create-user_main_cell_pass">
            <input class="create-user_main_cell_pass_input" type="password" id="pass" name="pass" placeholder="Пароль" autocomplete="off" required min="1" />
        </div>

        <div class="create-user_main_cell_number">
            <input class="create-user_main_cell_number_input" type="text" id="number" name="number" placeholder="8 (___) ___-__-__" autocomplete="off" required minlength="18" />
        </div>

        @* <div class="create-user_main_cell_city">
            <input class="create-user_main_cell_city_input" type="text" id="city" name="city" placeholder="Город" autocomplete="off" required min="1" />
        </div>

        <div class="create-user_main_cell_street">
            <input class="create-user_main_cell_street_input" type="text" id="street" name="street" placeholder="Улица" autocomplete="off" required min="1" />
        </div>

        <div class="create-user_main_cell_home">
            <input class="create-user_main_cell_home_input" type="text" id="home" name="home" placeholder="Номер дома" maxlength="4" pattern="[0-9]+" title="Введите только цифры" autocomplete="off" required min="1" />
        </div>

        <div class="create-user_main_cell_flat">
            <input class="create-user_main_cell_flat_input" type="text" id="flat" name="flat" placeholder="Номер квартиры" maxlength="4" pattern="[0-9]+" title="Введите только цифры" autocomplete="off" required min="1" />
        </div> *@
        <button type="submit" class="create-user_main_cell_btn">Зарегистрироваться</button>
    </form>
</div>
@if (TempData["ErrorMessage"] != null)
{
    <script>
        var errorMessage = '@Html.Raw(TempData["ErrorMessage"])';
        alert(errorMessage);
    </script>
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var numberInput = document.getElementById('number');
        var numberMask = IMask(numberInput, {
            mask: '8 (000) 000-00-00'
        });
    });
</script>