<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cofefe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/StyleSheet.css" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/taylor-sans" type="text/css" />
</head>
<body>
    <header class="header">
        <h1 class="shopname">Cofefe</h1>
        <div class="shoppages">
            <form id="loginForm" style="grid-column: 3; justify-content:center; display:flex;" asp-action="Logout" asp-controller="Home" method="post">
                <button class="shoppagesbtn">Выход</button>
            </form>
            
            <form style="grid-column: 4; justify-content:center; display:flex;" asp-action="AdminView" asp-controller="Home">
                <button class="shoppagesbtn">Панель администратора</button>
            </form>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
